* {
	box-sizing: border-box;
	max-width: 100%;
}

#wrapper {
	width: 100%;
	overflow: hidden;
}

/* reset safari input styles */
input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

/* keep browser specific checkbox styles */ 
input[type="checkbox"] {
	-webkit-appearance: checkbox;
}
