* {
	box-sizing: border-box;
	max-width: 100%;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* causes bug in Windows Phone < 8 */
@-ms-viewport       { width: device-width; }

#wrapper {
	width: 100%;
	overflow: hidden;
}

/* reset safari input styles */
input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

/* keep browser specific checkbox styles */ 
input[type="checkbox"] {
	-webkit-appearance: checkbox;
}
