#navigation {
    -moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		position: fixed;
		top: 0;
		left: 0;
    height: 100%;
    width: 300px;
}

#container,
#navigation {
    -moz-transition: -moz-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
}

.nav-opened #container {
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

.nav-opened #navigation {
    -moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
}

body.nav-opened {
		overflow-x: hidden;
		position: fixed;
}
